{% load static %}
<html lang="zh-hans">
<head>
<meta charset="UTF-8">
<title>Semantic UI</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">

</head>
<body>
<!-- YOUR CODE -->
  <div class="ui search">
    <div class="ui right icon input">
      <input class="prompt" placeholder="Search Big Star" type="text">
      <i class="search icon"></i>
    </div>
    <button class="ui button">按钮 </button>
    <div class="ui button" tabindex="0">Focusable </div>
  </div>
  <div class="ui container segment">

    <div class="ui divided items">
    <div class="item">
      <div class="image">
        <!--<img src="/images/wireframe/image.png">-->
      </div>
      <div class="content">
      <a class="header">标题</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">Additional Details </div>
      </div>
    </div>
  <div class="item">
    <div class="image">
    </div>
    <div class="content">
      <a class="header">标题</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">Additional Details </div>
    </div>
  </div>
  </div>
    <div class="ui pagination menu">
    <a class="item">
      1
    </a>
    <div class="disabled item">
      ...
    </div>
    <a class="item active">
      10
    </a>
    <a class="item">
      11
    </a>
    <a class="item">
      12
    </a>
    </div>
  </div>
  <script>

  </script>
</body>
</html>
